.task_form_component {
  width: 50%;
}
.task_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task_form_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task_form_date {
  width: fit-content;
}

.task_form_button {
  width: 80px;
  padding: 8px;
  background-color: black;
}